[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-wtf = "*"
python-dotenv = "*"
email-validator = "*"
marshmallow-sqlalchemy = "*"
flask-mail = "*"
pyjwt = "*"
requests = "*"
flask-moment = "*"
flask-babel = "*"
jinja2 = "*"
setuptools = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.12"
