{% extends 'base.html'%}



{% block content %}
<link rel="stylesheet" href="/static/styles/login.css">
  <center><p class="header">{{_('Edit Profile')}}</p></center>
  <form method="post" action="" novalidate>
    {{form.hidden_tag()}}
    <div class="profile-photo-container">
    
    <div class="input-container">
      {{form.username.label(class_='label')}}
      {{form.username(class_='form-input', value = current_user.username)}}
      <!-- username error -->
      {% for error in form.username.errors %}
        <p class="field-error">{{_(error)}}</p>
      {% endfor %}
    </div>

    <div class="input-container">
      {{form.about.label(class_='label')}}
      {{form.about(class_='form-input', value = current_user.about_me)}}
      <!-- about error -->
      {% for error in form.about.errors %}
      <p class="field-error">{{_(error)}}</p>
      {% endfor %}
    </div>
    
    <div class="input-container">
      {{form.submit(class_='submit-btn')}}
    </div>
  </form>
<script src="/static/js/editprofile.js"></script>
{% endblock %}