  {% extends 'base.html' %}

  {% block content%}
  <link rel="stylesheet" href="/static/styles/login.css"/>
  <br>
    {% if posts.items|length < 1 %}
      <center> <h2 class="header">{{_('No Posts')}} </h2></center>
    {% else %}
      <center> <h2 class="header">{{_('Posts')}} </h2></center>
    {% endif %}
    {% for post in posts.items %}
      <p>
        <img src="{{post.author.avatar(40)}}">
        <a href="/post/{{post.id}}">{{_('View')}}</a>
        <span>&nbsp;</span>
      </p>
      <span id="post{{post.id}}">
        {{post.body}}
      </span>
      {% if post.language != g.locale %}
        <span id="translate{{post.id}}">
        </span>
        <a href="javascript:translate(
          'post{{post.id}}',
          'translate{{post.id}}',
          '{{g.locale}}', 
          '{{post.language}}',
          'button{{post.id}}'
        )
          " 
          style="color: #414040; ;padding:3px; text-decoration:none; background-color: #dad4d4; font-size: 12px; border-radius: 5px;"
          id="button{{post.id}}"
          > 
             {{ _('translate')}}
          </a>
      {% endif %}
      <br>
      <br>
    {% endfor %}
    <br>
    {% if posts.has_next %}
      <a class="submit-btn" style="width:150px" href="?page={{posts.next_num}}"> {{_('next page')}}</a>
    {% endif %}
    {% if posts.has_prev %}
      <a class="submit-btn" style="width:150px" href="?page={{posts.prev_num}}"> {{_('prev page')}}</a>
    {% endif %}
    
    <script src="/static/js/index.js"></script>
  {% endblock %}
  

