  {% extends 'base.html' %}

  {% block content%}
  <link rel="stylesheet" href="/static/styles/login.css"/>
  <br>
    {% for post in posts.items %}
      <p>
        <img src="{{post.author.avatar(40)}}">
        <a href="/post/{{post.id}}">view</a>
        <span>&nbsp;</span>
        {% if current_user.id != post.author.id %}
          <a href="/user/{{post.author.id}}">
            view {{post.author.username}} profile
          </a>
        {% endif %}
      </p>
      <article> {{post.body}}</article>
      <br>
    {% endfor %}
    <br>
    {% if posts.has_next %}
      <a class="submit-btn" style="width:150px" href="?page={{posts.next_num}}"> next page</a>
    {% endif %}
    {% if posts.has_prev %}
      <a class="submit-btn" style="width:150px" href="?page={{posts.prev_num}}"> prev page</a>
    {% endif %}
  {% endblock %}

