{% extends 'base.html'%}

{% block content %}
  <link rel="stylesheet" href="/static/styles/login.css">
  <p class="header">Login</p>
  <form method="POST" action="" novalidate>
    {{form.hidden_tag()}}
    <!-- username error -->
    <div class="input-container">
      {{form.username.label(class_='label', placeholder_='username')}}
      {{form.username(class_='form-input')}}
      <!-- username error -->
      {% for error in form.username.errors %}
      <p class="field-error">{{error}}</p>
      {% endfor %}
    </div>

    <div class="input-container">
      {{form.password.label(class_='label')}}
      {{form.password(class_='form-input')}}
      <!-- password error -->
      {% for error in form.password.errors %}
        <p class="field-error">{{error}}</p>
      {% endfor %}
    </div>

    <div class="input-container">
      {{form.remember_me}}
      {{form.remember_me.label}}
    </div>

    <div class="input-container">
      {{form.submit(class_='submit-btn')}}
    </div>

  </form>

{% endblock %}