{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/styles/login.css">
<p class="header">{{post.title}}</p>
<p>
  {% if current_user.id != post.user_id %} 
    this post id written by {{post.author.username}}
    &nbsp;
    <a href="/user/{{post.author.id}}"> view author profile </a>
  {% endif %}
</p>

    {% if current_user.id == post.user_id %} 
      <a class="submit-btn" style="width:80px;margin: 20px 0px;" href="/edit_post/{{post.id}}">edit</a>
      <form method="POST" action="/post/{{post.id}}">
        <button type="submit" class="delete-btn">delete post</button>
      </form>
    {% endif %}
  </p>
  <br>
  <p>{{post.body}}</p>


{% endblock %}