{% extends 'base.html'%}



{% block content %}
  <center><p class="header">{{_('Profile')}}</p></center>
  <div class="profile-photo-container">
    <img class="profile-photo" src="{{current_user.avatar()}}" alt="photo"/>
    <p><a href="{{url_for('update_profile')}}"> {{_('update profile')}}</a></p>
  </div>
  {% if user.last_seen %}<p>{{ _( 'Last seen on: %(time)s ', time = moment(user.last_seen).format('LLL') ) }}</p>{% endif %}
  <p>{{ user.follower.count() }} {{_('followers')}}, {{ user.followed.count() }} {{_('following')}}.</p>
  <p>{{_('username')}}: {{current_user.username}}</p>
  <p>{{_('email')}}: {{current_user.email}}</p>
  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

  <br><br>

  {% for post in posts %}
  <br>
      <article> 
        <h4>{{post.title}}</h4>
        {{post.body}}
        <a href="/post/{{post.id}}">view</a>
      </article>
  <br>
    {% endfor %}

{% endblock %}