{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="/static/styles//login.css">
<form method="POST" action="" novalidate>
  <center><p class="header">{{_('Reset password')}}</p></center>
  {{form.hidden_tag()}}
  <!-- email container -->
  <div class="input-container">
    {{form.email.label(class_='label')}}
    {{form.email(class_='form-input')}}
    <!-- email error -->
    {% for error in form.email.errors %}
    <p class="field-error">{{_(error)}}</p>
    {% endfor %}
  </div>
  <br>
  {{form.submit(class_='submit-btn')}}
</form>
{% endblock %}