{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="/static/styles//login.css">
<form method="POST" action="" novalidate>
  <center><p class="header">{{_('Reset password')}}</p></center>
  {{form.hidden_tag()}}
  <!-- email container -->
  <div class="input-container">
    {{form.password.label(class_='label')}}
    {{form.password(class_='form-input')}}
    <!-- password error -->
    {% for error in form.password.errors %}
    <p class="field-error">{{_(error)}}</p>
    {% endfor %}
  </div>

  <!-- confirm password -->
  <div class="input-container">
    {{form.confirm_password.label(class_='label')}}
    {{form.confirm_password(class_='form-input')}}
    <!-- confirm_password error -->
    {% for error in form.confirm_password.errors %}
    <p class="field-error">{{_(error)}}</p>
    {% endfor %}
  </div>
  <br>
  {{form.submit(class_='submit-btn')}}
</form>
{% endblock %}