{% extends 'base.html' %}


{% block content %}
<section>
  <img src="{{user.avatar(100)}}" alt="{{_('photo')}}">
  <span>{{_('username')}}: {{user.username}}</span>
  <span> &nbsp;</span>
    {% if current_user.id != user.id %}
      {% if current_user.is_following(user) %}
        <a href="/follow/{{user.id}}"> {{_('unfollow')}} </a>
      {% else %}
        <a href="/follow/{{user.id}}"> {{_('follow')}} </a>
      {% endif %}
    {% endif %}
  
  <br>
  <sapn>{{_('email')}}: {{user.email}}</sapn>
  {% if user.last_seen %}
    <p>
      {{
        _('Last seen  %(time)s', time = moment(user.last_seen).fromNow()) }}
    </p>
  {% endif %}
  <p>
    {{ user.follower.count() }} followers, {{ user.followed.count() }} following.
  </p>
  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
</section>

<section>
  <br> <br>
  {% for post in posts %}
      <p>
        {{post.title}}
        &nbsp;
        <a href="/post/{{post.id}}">{{_('view')}}</a>
      </p>
      <br>
    {% endfor %}
</section>
  
{% endblock %}