<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{_('Password Reset')}}</title>
</head>
<body>
  
  <h3>
    {{_('Dear')}} {{user.username}},
  </h3>
  <br>
  <p>
    {{_('To reset your password')}} <a href="{{url_for('reset_password', token=token, _external=True)}}">{{_('here')}}</a>

  </p>
  <p> 
    {{
      _('Alternatively you can paste the following link below into your browse address bar:')
    }}
  </p>
  <p>{{url_for('reset_password', token=token, _external=True)}}</p>
  <p>
    {{
      _('if you have not requested a password reset, simply ignore this message.')
    }}
  </p>
  <p>{{_('Yours Sincerly,')}}</p>
  <br>
  <p><strong>
    {{_('The Microblog Team')}}
  </strong></p>
</body>
</html>